{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block css %}<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>{% endblock %}

{% block content %}

<pre class="prettyprint">

</pre>

{% endblock%}
