{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block css %}<link href="{% static 'css/profile.css' %}" rel="stylesheet">{% endblock %}


{% block title %}EctoCode &dash; {{ request.user.username }}{% endblock %}

{% block content %}

  <h1 class="lg-heading">{{ request.user.username }}</h1>

  <div>
    <p><img class="profile-pic" src="{% static user_info.profile_pic %}" alt="profile picture"/></p>

    {% if user_info.url|length > 0 %}
      <a href="{{ user_info.url }}"<i class="fa fa-globe fa-2x"></i></a>&nbsp;&nbsp;
    {% endif %}

    {% if user_info.stackoverflow|length > 0 %}
      <a href="{{ user_info.stackoverflow }}"><i class="fa fa-stack-overflow fa-2x"></i></a>&nbsp;&nbsp;
    {% endif %}

    {% if user_info.bitbucket|length > 0 %}
      <a href="{{ user_info.bitbucket}}"><i class="fa fa-bitbucket fa-2x"></i></a>&nbsp;&nbsp;
    {% endif %}

    {% if user_info.twitter|length > 0 %}
      <a href="{{ user_info.twitter }}"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;&nbsp;
    {% endif %}

    {% if user_info.github|length > 0 %}
      <a href="{{ user_info.github }}"<i class="fa fa-github fa-2x"></i></a>
    {% endif %}

 </div>



{% endblock %}
