{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}

{% crispy form form.helper %}

<p>Not Registered <small><a href="{% url 'accounts:register' %}">Register Here</a></small></p>

{% endblock %}
