{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %}

{% crispy form form.helper %}

<p>Already Registered <small><a href="{% url 'accounts:login' %}">Login Here</a></small></p>

{% endblock %}
